#.depend
#.depend-rebuild
*#
*.#
*.[oa]
*.annot
*.aux
*.bin
*.byt
*.cm[aiox]
*.coz
*.cvs
*.dif
*.dko
*.exe
*.fcd
*.fo
*.glob
*.info
*.mangled
*.mk
*.ml
.metadata
*.modules
*.o
*.orig
*.out
*.output
*.pfc
*.sav
*.saved
*.sk
*.tar
*.v
*.vo
*.zv
*~
.cvsignore
.depend
.gitignore
.save
.temp
.*.aux
KEEP
[A-Z]
[a-z]
_darcs
a.out
temp
