#.depend
#.depend-rebuild
*#
[a-z]
[A-Z]
*.#
*.[oa]
*.annot
*.aux
*.bin
*.byt
*.cm[aiox]
*.coz
*.cvs
*.dif
*.dko
*.exe
*.fcd
*.fo
*.glob
*.info
*.keep
*.mangled
*.ml
*.modules
*.o
*.orig
*.out
*.output
*.pfc
*.sav
*.saved
*.sk
*.tar
*.v
*.vo
*.zv
*~
.cvsignore
.depend
.metadata
.save
.temp
.*.aux
KEEP
_darcs
a.out
temp
