*~
*.#
*#
*.annot
a.out
*.aux
[a-z]
[A-Z]
*.bin
*.byt
*.cm[aiox]
*.coz
*.cvs
.cvsignore
_darcs
.depend
#.depend
#.depend-rebuild
*.dif
*.dko
*.exe
*.fcd
*.fo
.gitignore
*.glob
*.info
KEEP
*.mk
*.ml
*.modules
*.o
*.[oa]
*.orig
*.out
*.output
*.pfc
*.sav
.save
*.saved
*.sk
*.tar
temp
.temp
*.v
*.vo
*.zv
